In [16]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px

## Dataset artwork cleaning

In [17]:
museum_df = pd.read_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artworks.csv')

In [18]:
museum_df.head(10)

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,...,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,2,"Ferdinandsbr√ºcke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,...,Architecture,885.1996,NaN,NaN,48.6000,NaN,168.9000,NaN,NaN,NaN
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,...,Architecture,1.1995,NaN,NaN,40.6401,NaN,29.8451,NaN,NaN,NaN
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,1.1997,NaN,NaN,34.3000,NaN,31.8000,NaN,NaN,NaN
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,2.1995,NaN,NaN,50.8000,NaN,50.8000,NaN,NaN,NaN
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,2.1997,NaN,NaN,38.4000,NaN,19.1000,NaN,NaN,NaN
5,7,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1976-77,Gelatin silver photograph,"14 x 18"" (35.6 x 45.7 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,3.1995.1,NaN,NaN,35.6000,NaN,45.7000,NaN,NaN,NaN
6,8,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1976-77,Gelatin silver photographs,"Each: 14 x 18"" (35.6 x 45.7 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,3.1995.1-24,NaN,NaN,35.6000,NaN,45.7000,NaN,NaN,NaN
7,9,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1976-77,Gelatin silver photograph,"14 x 18"" (35.6 x 45.7 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,3.1995.10,NaN,NaN,35.6000,NaN,45.7000,NaN,NaN,NaN
8,10,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1976-77,Gelatin silver photograph,"14 x 18"" (35.6 x 45.7 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,3.1995.11,NaN,NaN,35.6000,NaN,45.7000,NaN,NaN,NaN
9,11,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1976-77,Gelatin silver photograph,"14 x 18"" (35.6 x 45.7 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,3.1995.12,NaN,NaN,35.6000,NaN,45.7000,NaN,NaN,NaN

In [19]:
museum_df.isna().sum()

Artwork ID                 0
Title                     52
Artist ID               1460
Name                    1460
Date                    2312
Medium                 11919
Dimensions             11463
Acquisition Date        5463
Credit                  3070
Catalogue                  0
Department                 0
Classification             0
Object Number              0
Diameter (cm)         128863
Circumference (cm)    130252
Height (cm)            18369
Length (cm)           129526
Width (cm)             19259
Depth (cm)            118819
Weight (kg)           129964
Duration (s)          127178
dtype: int64

In [20]:
museum_df.drop(['Diameter (cm)', 
                'Circumference (cm)', 
                'Height (cm)', 
                'Length (cm)',
                'Width (cm)',
                'Depth (cm)',
                'Weight (kg)',
                'Duration (s)'
               ], 
               axis=1, 
               inplace=True)

In [21]:
museum_df.dropna(inplace= True)

In [22]:
museum_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100767 entries, 0 to 130221
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Artwork ID        100767 non-null  int64
 1   Title             100767 non-null  object
 2   Artist ID         100767 non-null  object
 3   Name              100767 non-null  object
 4   Date              100767 non-null  object
 5   Medium            100767 non-null  object
 6   Dimensions        100767 non-null  object
 7   Acquisition Date  100767 non-null  object
 8   Credit            100767 non-null  object
 9   Catalogue         100767 non-null  object
 10  Department        100767 non-null  object
 11  Classification    100767 non-null  object
 12  Object Number     100767 non-null  object
dtypes: int64(1), object(12)
memory usage: 10.8+ MB

In [23]:
museum_df.columns = map(str.lower, museum_df.columns)

In [24]:
museum_df.rename(columns = {'date':'year', 
                            'name':'name_artist',
                            'artwork id': 'artwork_id',
                            'artist id':'artist_id',
                            'object number':'object_number',
                            'acquisition date':'acquisition_date'}, 
                     inplace= True)

In [25]:
museum_df['acquisition_date'] = pd.to_datetime(museum_df['acquisition_date'])

In [26]:
museum_df.reset_index(drop = True, inplace= True)

In [27]:
museum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100767 entries, 0 to 100766
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   artwork_id        100767 non-null  int64
 1   title             100767 non-null  object
 2   artist_id         100767 non-null  object
 3   name_artist       100767 non-null  object
 4   year              100767 non-null  object
 5   medium            100767 non-null  object
 6   dimensions        100767 non-null  object
 7   acquisition_date  100767 non-null  datetime64[ns]
 8   credit            100767 non-null  object
 9   catalogue         100767 non-null  object
 10  department        100767 non-null  object
 11  classification    100767 non-null  object
 12  object_number     100767 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 10.0+ MB

In [28]:
museum_df.head(5)

,artwork_id,title,artist_id,name_artist,year,medium,dimensions,acquisition_date,credit,catalogue,department,classification,object_number
0,2,"Ferdinandsbr√ºcke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,Architecture & Design,Architecture,885.1996
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,Architecture & Design,Architecture,1.1995
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,Architecture & Design,Architecture,1.1997
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,Architecture & Design,Architecture,2.1995
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,Architecture & Design,Architecture,2.1997

In [29]:
museum_df.to_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artworks_cleaned.csv', index=False)

# Dataset artists cleaning

In [30]:
artists_df = pd.read_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artists.csv')

In [31]:
artists_df.head(10)

   Artist ID             Name Nationality  Gender  Birth Year  Death Year
0          1   Robert Arneson    American    Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish    Male      1936.0         NaN
2          3      Bill Arnold    American    Male      1941.0         NaN
3          4  Charles Arnoldi    American    Male      1946.0         NaN
4          5      Per Arnoldi      Danish    Male      1941.0         NaN
5          6    Danilo Aroldi     Italian    Male      1925.0         NaN
6          7        Bill Aron    American    Male      1941.0         NaN
7          9    David Aronson    American    Male      1923.0         NaN
8         10    Irene Aronson    American  Female      1918.0         NaN
9         11  Jean (Hans) Arp      French    Male      1886.0      1966.0

In [32]:
artists_df.isna().sum()

Artist ID          0
Name               0
Nationality     2488
Gender          3072
Birth Year      3854
Death Year     10512
dtype: int64

In [33]:
artists_df.columns = map(str.lower, artists_df.columns)

In [34]:
artists_df.rename(columns = {'artist id': 'artist_id',
                             'birth year': 'birth_year',
                             'death year': 'death_year'}, 
                     inplace= True)

In [35]:
artists_df.head(10)

   artist_id             name nationality  gender  birth_year  death_year
0          1   Robert Arneson    American    Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish    Male      1936.0         NaN
2          3      Bill Arnold    American    Male      1941.0         NaN
3          4  Charles Arnoldi    American    Male      1946.0         NaN
4          5      Per Arnoldi      Danish    Male      1941.0         NaN
5          6    Danilo Aroldi     Italian    Male      1925.0         NaN
6          7        Bill Aron    American    Male      1941.0         NaN
7          9    David Aronson    American    Male      1923.0         NaN
8         10    Irene Aronson    American  Female      1918.0         NaN
9         11  Jean (Hans) Arp      French    Male      1886.0      1966.0

In [36]:
artists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15091 entries, 0 to 15090
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   artist_id    15091 non-null  int64
 1   name         15091 non-null  object
 2   nationality  12603 non-null  object
 3   gender       12019 non-null  object
 4   birth_year   11237 non-null  float64
 5   death_year   4579 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 707.5+ KB

In [37]:
artists_df['birth_year'] = artists_df['birth_year'].fillna(0.0).astype(int)

In [39]:
artists_df['death_year'] = artists_df['death_year'].fillna(0.0).astype(int)

In [44]:
artists_df['artist_id']= artists_df['artist_id'].map(str)

In [45]:
artists_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15091 entries, 0 to 15090
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   artist_id    15091 non-null  object
 1   name         15091 non-null  object
 2   nationality  12603 non-null  object
 3   gender       12019 non-null  object
 4   birth_year   15091 non-null  int64
 5   death_year   15091 non-null  int64
dtypes: int64(2), object(4)
memory usage: 707.5+ KB

In [46]:
artists_df.head(10)

  artist_id             name nationality  gender  birth_year  death_year
0         1   Robert Arneson    American    Male        1930        1992
1         2   Doroteo Arnaiz     Spanish    Male        1936           0
2         3      Bill Arnold    American    Male        1941           0
3         4  Charles Arnoldi    American    Male        1946           0
4         5      Per Arnoldi      Danish    Male        1941           0
5         6    Danilo Aroldi     Italian    Male        1925           0
6         7        Bill Aron    American    Male        1941           0
7         9    David Aronson    American    Male        1923           0
8        10    Irene Aronson    American  Female        1918           0
9        11  Jean (Hans) Arp      French    Male        1886        1966

In [47]:
artists_df.to_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artists_cleaned.csv', index=False)